#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
   
} 
#score{
    font-family: "Permanet Maker",cursive;
font: size 100px; ;
}
#resetBtn{
    font-family: "Permanet Maker",cursive;
    font: size 22px;
    width: 100px;
    height: 50PX;
    border:2px soild ;
    border-radius: 15px;
    cursor:pointer ;
}